{% extends "core/base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<style>
    body {
        background-color: grey;
    }
    
    .container {
        box-shadow: 0 1px 0px 2px;
        border-radius: 10px;
        padding: 10px;
    }
</style>
<!--title-->
<div class="section-title">
    <h4 class="text-primary  text-uppercase" style="letter-spacing: 5px;">Contact Us</h4>
</div>

<!--forom-->
<div class="container">
    <form method="post" novalidate>
        {% csrf_token %} {{form}}
        <div class="box mt-2">
            <input type="submit" class="btn btn-outline-primary" value="SEND">
            <a href="{% url 'home' %}" class="btn btn-outline-dark">BACK</a>
        </div>
    </form>
</div>

{% endblock %}